.post {
  /* attention .post se trouve dans la div .post_editor_input dans le PostContainer (component)*/
  background-color: white;
  width: 109%;
  margin-left: -4%;
  text-transform: lowercase;
  margin-top: 3%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(9, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.post_author {
  font-weight: bolder;
  font-size: 20px;
  color: #00cc99;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.like_button {
  display: flex;
  flex-wrap: wrap;
  float: right;
  right: 0;
  margin-left: auto;
  transform: translateY(-10px);
}
.like_button svg {
  margin-right: 5px;
  transform: translateY(5px);
}
.post_content {
  font-style: oblique;
}
.video_player {
  width: auto;
  height: auto;
}
